.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif; 
}

.rectangle {
    width: 22%;
    height: 75%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 600px) {
    .rectangle {
        width: 80%;
        height: 60%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.footer a {
    color: #A880F4;
}

.nft-image {
    margin: 5% auto 0 auto;
    max-width: 90%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}


@media (max-width: 600px) {
    .nft-image {
        width: 80%;
    }
}