body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.rectangle {
    width: 22rem;
    height: 40rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.9375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 37.5rem) {
    .rectangle {
        width: 80%;
        height: 60%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 1.25rem;
    color: white;
}

.footer a {
    color: #A880F4;
}

.nft-image {
    margin: 5% auto 0 auto;
    max-width: 90%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.9375rem;
}


@media (max-width: 37.5rem) {
    .nft-image {
        width: 80%;
    }
}

.rectangle-in {
    color: white;
}